<form action="/search">

  <input id='text' type="text" name="q" class='searchi__text' value='' placeholder='Search for movie quote
' />
  <input type="submit" class='searchi__button' value='Search!' />

</form>

<script>
  document.body.onload = function() {
    document.getElementById('text').focus();
  }
</script>