<form action="/search" name='form2'>

  <input id='text' type="text" name="q" class='search__text' value='' placeholder='Search for movie quote
' />
  <input type="submit" class='search__button' value='Search!' />

</form>

<script>
  document.body.onload = function() {
     document.form2.q.focus()
  }
</script>